extends ./layout

block jumbotron
	div.jumbotron
		div.container
			h1.
				Infos zum Bienenstock

block content
	div.row
		div.col-lg-6
			h3 Besucher 

			table.table.table-striped.table-bordered
				tbody
					tr
						td Zugriffe diese Woche
						td #{statistic.week.visits}
					tr
						td Zugriffe dieses Jahr
						td #{statistic.year.visits}
				
		div.col-lg-6
			h3 Eintr&auml;ge 

			table.table.table-striped.table-bordered
				tbody
					tr
						td Neue Eintr&auml;ge diese Woche
						td #{statistic.week.entries}
					tr
						td &Auml;nderungen diese Woche
						td #{statistic.week.changes.length}
					tr
						td &Auml;nderungen All-Time
						td #{statistic.alltime.changes}
					tr
						td Gesamtzahl Eintr&auml;ge 
						td #{statistic.alltime.entries}
	div.row
		div.col-lg-6
			h3.
				Top-3 Suchw&ouml;rter, die in dieser Woche zu findsgut
				gef&uuml;hrt haben

			- if (statistic.week.keywords.length === 0) {
				p.
					Es sind noch keine Suchw&ouml;rter vorhanden.
			- } else {
				table.table.table-striped.table-bordered
					thead
							tr
								td Keyword
								td Besuche dar&uuml;ber
					tbody
						each entry in statistic.week.keywords
							tr
								td #{entry.label}
								td #{entry.nb_visits}
			- }
				
		div.col-lg-6
			h3.
				Top-3 Websites, die diese Woche zu findsgut
				weitergeleitet haben

			- if (statistic.week.referrer.length === 0) {
				p.
					Es sind noch keine Referrer vorhanden.
			- } else {
				table.table.table-striped.table-bordered
					thead
							tr
								td Label
								td Type
					tbody
						each entry in statistic.week.referrer
							tr
								td #{entry.label}
								td #{entry.referrer_type}
			- }

	div.row
		div.col-lg-12
			p &nbsp;

			h3 Letzte &Auml;nderungen in der Datenbank

			p
				span.text-warning Vor der &Auml;nderung
				|&nbsp;&nbsp;
				span.text-success Nach der &Auml;nderung

			table.table.table-striped.table-bordered
				thead
					tr
						td Datenbank-Id
						td &Auml;nderungen
						td.text-right Link zum Eintrag
				tbody
					each entry in statistic.week.changes
						tr
							td 
								a(href="http://localhost:5498/findsgut/#{entry.id}").
									#{entry.id}
							td
								each diff in entry.diff
									pre
										span #{diff.Property.replace("this.","")} wurde verändert:
										p.text-warning #{diff.ObjectA}
										span.text-success #{diff.ObjectB}

							td.text-right
								a(href="/eintraege/#{entry.id}").
									Eintrag&nbsp;auf&nbsp;findsgut
