div.navbar.navbar-inverse.navbar-fixed-top.nav-collapse
	div.container
		div.navbar-header.
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<a class="navbar-brand" href="/">
				<!--
				findsgut.de
				-->
				<img src="/img/findsgut-white.png" height="30" />
				<span style="font-weight:normal;font-size:13px;color:#444;position: relative; top: -0.8em;">(beta)</span>
			</a>

		div.navbar-collapse.collapse
			ul.nav.navbar-nav(style="margin-top:5px;")
				li(class="#{navi.home}").
					<a href="/">Home</a>
				li(class="#{navi.entries_new}").
					<a href="/eintraege/neu">Neuer Eintrag</a>
				li(class="#{navi.entries_all}").
					<a href="/eintraege/alle">Alle Eintr&auml;ge</a>
				li(class="#{navi.feedback}").
					<a href="/feedback">Anregungen</a>

			div.pull-right.
				<a href="/eintraege/alle" style="color:#000;">
					<span class="badge" style="background:#777;margin-top:20px"> #{count_entries} </span> Eintr&auml;ge
				</a>

