div.navbar.navbar-inverse.navbar-fixed-top.nav-collapse
	div.container
		div.navbar-header.
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<a class="navbar-brand" href="/">
				<img src="/img/findsgut-white.png" height="30" />
			</a>

		div.navbar-collapse.collapse
			ul.nav.navbar-nav(style="margin-top:5px;")
				li(class="#{navi.entries_new}").
					<a href="/eintraege/neu">Eintragen</a>
				li(class="#{navi.rummage}").
					<a href="/stoebern">St&ouml;bern</a>
				li(class="#{navi.entries_all}").
					<a href="/eintraege/alle">Suchen</a>
				li(class="#{navi.feedback}").
					<a href="/feedback">Anregen</a>
				li(class="#{navi.idee}").
					<a href="/idee">Idee</a>

			div.pull-right.
				<a href="/eintraege/alle" style="color:#000;" class="counter">
					<span class="badge" style="background-image:url(/img/wabe-small.png);background-repeat:no-repeat;background-position:center center;margin-top:20px;background-color:transparent;"> #{count_entries} </span> 
				</a>
				<a href="/eintraege/alle" style="color:#000;">Eintr&auml;ge</a>

				&nbsp;
				&nbsp;
				&nbsp;

				<a href="/impressum" style="color:#000">Impressum</a>
