extends ../layout

block jumbotron
	div.jumbotron
		div.container
			h1 Alle Eintr&auml;ge 

			div.sub.
				Es sind insgesamt #{entries.length}
				Eintr&auml;ge vorhanden.

block content
	div.row
		div.col-lg-12

			div.row
				div.col-lg-12
					div.panel.panel-default
						div.panel-heading
							h3.panel-title.
								Filtern
						div.panel-body
							div.row
								div.col-lg-3
									div.checkbox
										label
											input(type="checkbox")
											|Lokale Angebote
								div.col-lg-3
									div.checkbox
										label
											input(type="checkbox")
											|Online-Angebote
								div.col-lg-3
									div.input-group 
										span.input-group-addon
											span.glyphicon.glyphicon-search
										input(type="text",class="form-control",placeholder="Kleidung") 
								div.col-lg-3
									|<button type="submit" class="btn btn-default">&raquo; Filtern</button>
								
					hr

			- if (entries != undefined && entries.length > 0)
				div.row
					div.col-lg-12(style="display:none")
						p
							strong.
								Anzeige: #{entries.length}/#{entries.length} Eintr&auml;ge
						p
							&nbsp;

					each entry in entries
						div.col-lg-6
							div.panel.panel-default
								div.panel-body
									p	
										a(href="/eintraege/#{entry.value._id}/").
											#{entry.value.name}
									p
										- if (entry.value.description.length > 125)
											|#{entry.value.description.substr(0,125)}&hellip;
										- else
											|#{entry.value.description}
										- endif
									p.
										<a class="pull-right btn btn-default" href="/eintraege/#{entry.value._id}/">&raquo; Mehr</a> 
			- else
				p Es sind leider noch keine Eintr&auml;ge vorhanden.
			- endif
