extends ../layout

block jumbotron
	div.jumbotron
		div.container
			h1 #{doc.name}

block content
	- if (success_creation || success_edit) {
		div.row
			div.col-lg-12
				div.alert.alert-warning(style="height:auto")
					img(src="/img/biene.png",align="left",width="100",style="margin:0px 20px 10px 0px;")
					h4 Dankesch&ouml;n! 

					p.
						&hellip;dass du ein flei&szlig;iges Bienchen bist
						und zu diesem Projekt
						beitr&auml;gst.

	- }

	div.row
		div.col-lg-6
			|&nbsp;<br />
			each paragraph in doc.description
				p.
					#{paragraph}


		div.col-lg-6
			div.panel.panel-default(style="margin-top:20px")
				div.panel-heading
					h3.panel-title.
						Infos
				div.panel-body
						dl.dl-horizontal
							dt Klassifikation
							dd
								- for (var c in doc.classifications) {
										a(href="/kategorie/#{doc.classifications[c].key}")
												|#{doc.classifications[c].value}<br />
								- }

							dt Angebot
							dd
								- if (doc.local)
									|Lokal<br />
								- endif
								- if (doc.online)
									|Online<br />
								- endif
								- if (doc.brand)
									|Marke<br />
								- endif

							- if (doc.uri.length > 0) {
								dt Website
								dd
									a(href="#{doc.uri}",rel="nofollow")
											|#{doc.uri}
							- }

							- if (doc.local) {
								dt Adresse
								dd
									|#{doc.street}<br />
									|#{doc.zipcode} #{doc.city}<br />
									- if (doc.country === "Germany") {
										|Deutschland
									- } else {
										|#{doc.country}
									- }
							- }

							dt &nbsp;
							dd

							dt Kategorien
							dd
								- for (var c in doc.categories) {
										a(href="/kategorie/#{doc.categories[c].key}")
											|#{doc.categories[c].value}<br />
								- }

							- if (doc.subcategories.length > 0) {
								dt Unterkategorien
								dd
									- for (var c in doc.subcategories) {
										a(href="/kategorie/#{doc.subcategories[c].key}")
												|#{doc.subcategories[c].value}
										- if (c != doc.subcategories.length-1) {
											|, 
										- }
									- }
							- }

							- if (doc.coords) {
								dt &nbsp;
								dd &nbsp;

								div(style="height:200px")#map
								//a(href="").pull-right Gro&szlig;e Karte &ouml;ffnen
							- }

			div.text-center
				a.btn.btn-default.btn-lg(href="/eintraege/bearbeiten/#{doc.id}").
					<img src="/img/wabe.png" style="height:20px;margin-right:10px;" />
					Eintrag bearbeiten

block scripts
	- if (doc.coords) {
		script(type='text/javascript').
			$(function() {
				// create a map in the "map" div, set the view to a given place and zoom
				var map = L.map('map').setView([#{doc.coords[0]}, #{doc.coords[1]}], 13);

				// add an OpenStreetMap tile layer
				L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
					attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
				}).addTo(map);

				// add a marker in the given location, attach some popup content to it and open the popup
				var txt = "#{doc.street}<br />#{doc.zipcode} #{doc.city}";
				L.marker([#{doc.coords[0]}, #{doc.coords[1]}]).addTo(map) .bindPopup(txt) .openPopup();
			});
	- }

block head
	|<link rel="stylesheet" href="/css/leaflet.css" />
	|<script src="/js/leaflet.js"></script>
