extends ../layout

block jumbotron
	div.jumbotron
		div.container
			h1 Alle Eintr&auml;ge

			div.sub.
				Lorem.

block breadcrumbs
	ol.breadcrumb.
		<li><a href="/eintraege/alle">Alle Eintr&auml;ge</a></li>
		<li class="active">#{doc.name}</li>

block content
	div.row
		div.col-lg-12
			h2 Eintrag: #{doc.name}

	div.row
		div.col-lg-12
			dl.dl-horizontal
				dt Beschreibung
				dd
					each paragraph in doc.description
						p.
							#{paragraph}

				dt Kategorien
				dd.
					#{doc.categories}

				dt Klassifikation

				dd.
					#{doc.classifications}

				dt Online-Eintrag?
				dd.
					#{doc.online}

				dt Lokaler Eintrag?
				dd.
					#{doc.local}

				dt Internet-Adresse
				dd.
					#{doc.uri}
