extends ../layout

block jumbotron
	div.jumbotron
		div.container
			h1 #{doc.name}

			div.sub.
				Lorem.

block content
	div.row
		div.col-lg-8

			div.text-center.pull-right
				a.btn.btn-default.btn-lg(href="/eintraege/bearbeiten/#{doc.id}").
					<img src="/img/wabe.png" style="height:20px;margin-right:10px;" />
					Eintrag bearbeiten

			p &nbsp;

			each paragraph in doc.description
				p.
					#{paragraph}
		div.col-lg-4
				div.panel.panel-default(style="margin-top:20px")
					div.panel-heading
						h3.panel-title.
							Infos
					div.panel-body
							dl.dl-horizontal
								dt Kategorien
								dd
									- for (var c in doc.categories) {
										|#{doc.categories[c].value}<br />
									- }

								dt Klassifikation
								dd
									- for (var c in doc.classifications) {
										|#{doc.classifications[c].value}<br />
									- }

								dt Angebot
								dd
									- if (doc.local)
										|Lokal<br />
									- endif
									- if (doc.online)
										|Online<br />
									- endif

								- if (doc.uri.length > 0) {
									dt Website
									dd
										a(href="#{doc.uri}",rel="nofollow")
												|#{doc.uri}
								- }

								- if (doc.local)
									dt Adresse
									dd.
										#{doc.street}<br />
										#{doc.zipcode} #{doc.city}
								- endif
