- if (list != undefined && list.length > 0)
	- if (!category) {
		div.row(style="margin-bottom:10px")
			div.col-lg-12
				h4.pull-left.
					Es werden #{list.length} Eintr&auml;ge angezeigt.
					Insgesamt sind #{count_entries} Eintr&auml;ge in der Datenbank.
				h4.pull-right.
					Sortierung: Neueste zuerst.
	- }

	div.row
		each entry in list
			div.col-lg-6
				div.panel.panel-default(style="height:150px")
					div.panel-body
						p	
							a(href="/eintraege/#{entry.value._id}/")
								- if (entry.value.name.length > 60)
									|#{entry.value.name.substr(0,60)}&hellip;
								- else
									|#{entry.value.name}
						p
							- if (entry.value.description.length > 125)
								|#{entry.value.description.substr(0,125)}&hellip;
							- else
								|#{entry.value.description}
							- endif
						p.
							<a class="pull-right btn btn-default" href="/eintraege/#{entry.value._id}/">&raquo; Mehr</a> 
			- if (show_last) {
				div.col-lg-6
			- }
- else
	div.row
		div.col-lg-12
			p Es sind leider keine Eintr&auml;ge vorhanden.
- endif

