extends ../layout

block jumbotron
	div.jumbotron
		div.container
			- if (modifyExisting)
				h1 Eintrag bearbeiten
			- else
				h1 Neuer Eintrag
			- endif

			div.sub.
				Lorem Ipsum dolor sit amet

block content
	div.row
		div.col-lg-12
			- if (modifyExisting)
				h2 Eintrag bearbeiten
			- else
				h2 Neuer Eintrag
			- endif


	div.row
		div.col-lg-12
			- if (errors != undefined && errors.length > 0) 
				div.alert.alert-danger(style="") 
					strong Oops!
					span.
						Irgendetwas passt noch nicht ganz!
						Schau dir deine Eingabe
						nochmal in Ruhe an.

					p
						ul
							each error in errors
								li.
									#{error}
			- else
				p.
					Einfach und unkompliziert einen neuen Eintrag
					hinzuf&uuml;gen &ndash; ganz ohne
					Registrierung und sonstige Querelereien.
			- endif

				p &nbsp;

			form(role="form",method="POST",action="#").form-horizontal#new
				- if (modifyExisting)
					input(type="hidden",name="_id",value="#{values._id}")
					input(type="hidden",name="_rev",value="#{values._rev}")
				- endif

				div(class="form-group #{error_fields.name}").
					<label for="name" class="col-lg-2 control-label">Anbieter</label>
					<div class="col-lg-10">
						<input type="text" value="#{values.name}" name="name" class="form-control" id="name" placeholder="">
						<p class="help-block"></p>
					</div>

				div(class="form-group #{error_fields.categories}")
					label.col-lg-2.control-label(for="categories") Kategorie
					each category in categories
						div.col-lg-2
							- if (values["category_" + category.key] === true)
								input(name="category_#{category.key}", type="checkbox", checked="checked") 
							- else
								input(name="category_#{category.key}", type="checkbox") 
							- endif
							span.
								&nbsp; #{category.value}

				div(class="form-group #{error_fields.subcategories}")#productsubs 
					label.col-lg-2.control-label(for="subcategories") Produkt-Unterkategorien
					div.col-lg-8
						each subcategory in subcategories["products"]
							div.col-lg-12
								div.col-lg-3
									strong #{subcategory.title}
								div.col-lg-9(id="subcategory_group_#{subcategory.key}")
									each sub in subcategory.list
										div.col-lg-6
											- if (values["subcategory_" + sub.key] === true)
												input(name="subcategory_#{sub.key}", type="checkbox", checked="checked") 
											- else
												input(name="subcategory_#{sub.key}", type="checkbox") 
											- endif
											span.
												&nbsp; #{sub.value}
							div.col-lg-12(style="clear:both").
								&nbsp;

				div(class="form-group #{error_fields.classifications}")
					div.row
					label.col-lg-2.control-label(for="classifications") Einordnung

					div.col-lg-3
						- if (values["fair"] === true)
							input(name="fair", type="checkbox", checked="checked")
							span.
								&nbsp; überwiegend faire Produkte
						- else
							input(name="fair", type="checkbox")
							span.
								&nbsp; &uuml;berwiegend faire Produkte
						- endif

						div.alert.alert-info(style="margin-top:10px;") 
							p.
								sind Produkte
								die &hellip;

					div.col-lg-3
						- if (values["bio"] === true)
							input(name="bio", type="checkbox", checked="checked")
							span.
								&nbsp; überwiegend biologische Produkte
						- else
							input(name="bio", type="checkbox")
							span.
								&nbsp; überwiegend biologische Produkte
						- endif

						div.alert.alert-info(style="margin-top:10px;") 
							p.
								sind Produkte
								die &hellip;

					div.col-lg-3
						- if (values["regional"] === true)
							input(name="regional", type="checkbox", checked="checked")
							span.
								&nbsp; überwiegend regionale Produkte
						- else
							input(name="regional", type="checkbox").
							span.
								&nbsp; überwiegend regionale Produkte
						- endif

						div.alert.alert-info(style="margin-top:10px;") 
							p.
								sind Produkte
								die &hellip;

					div.row
					label.col-lg-2.control-label(for="") &nbsp;
					div.col-lg-3
						- if (values["used"] === true)
							input(name="used", type="checkbox", checked="checked")
							span.
								&nbsp; überwiegend gebrauchte Produkte
						- else
							input(name="used", type="checkbox").
							span.
								&nbsp; überwiegend gebrauchte Produkte
						- endif

						div.alert.alert-info(style="margin-top:10px;") 
							p.
								sind Produkte
								die &hellip;


				div(class="form-group #{error_fields.online_local}")
					label.col-lg-2.control-label(for="online_local") Online/Lokal?
					div.col-lg-2
						- if (values["online"] === true)
							input(type="checkbox",name="online",checked="checked") 
							span.
								&nbsp; Online-Angebot
						- else
							input(type="checkbox",name="online") 
							span.
								&nbsp; Online-Angebot
						- endif
					div.col-lg-2
						- if (values["local"] === true)
							input(type="checkbox",name="local",checked="checked") 
							span.
								&nbsp; Lokales Angebot
						- else
							input(type="checkbox",name="local") 
							span.
								&nbsp; Lokales Angebot
						- endif

				- if (values["local"] === false || values["local"] == undefined)
					div(class="form-group #{error_fields.street} address",style="display:none")#street
						label.col-lg-2.control-label(for="street") Stra&szlig;e
						div.col-lg-10
							input.form-control(type="text", name="street", id="street",value="#{values.street}")
					div(class="form-group #{error_fields.zipcode} address")#zipcode
						label.col-lg-2.control-label(for="zipcode") PLZ
						div.col-lg-10
							input.form-control(type="text", name="zipcode", id="zipcode",value="#{values.zipcode}")
					div(class="form-group #{error_fields.city} address")#city
						label.col-lg-2.control-label(for="city") Stadt
						div.col-lg-10
							input.form-control(type="text", name="city", id="city",value="#{values.city}")
				- else 
					div(class="form-group #{error_fields.street} address")#street
						label.col-lg-2.control-label(for="street") Stra&szlig;e
						div.col-lg-10
							input.form-control(type="text", name="street", id="street",value="#{values.street}")
					div(class="form-group #{error_fields.zipcode} address")#zipcode
						label.col-lg-2.control-label(for="zipcode") PLZ
						div.col-lg-10
							input.form-control(type="text", name="zipcode", id="zipcode",value="#{values.zipcode}")
					div(class="form-group #{error_fields.city} address")#city
						label.col-lg-2.control-label(for="city") Stadt
						div.col-lg-10
							input.form-control(type="text", name="city", id="city",value="#{values.city}")
				- endif

				div(class="form-group #{error_fields.uri}")
					label.col-lg-2.control-label(for="uri") Internet-Adresse
					div.col-lg-10
						input.form-control(type="url", name="uri", id="uri",value="#{values.uri}")

				div(class="form-group #{error_fields.description}")
					label.col-lg-2.control-label(for="description") Beschreibung
					div.col-lg-10
						textarea.form-control(id="description", name="description",rows="3", maxlength="500") #{values.description}

				div(class="form-group #{error_fields.agb}")
					label.col-lg-2.control-label(for="agb") AGB
					div.col-lg-10
						- if (values["agb"] === true)
							input(id="agb", name="agb", type="checkbox", checked="checked") 
						- else
							input(id="agb", name="agb", type="checkbox") 
						-endif

						span.
							&nbsp; Ich stimme den <a target="_blank" href='/agb'>Nutzungsbedingungen</a> dieser Plattform zu.

				div.form-group.
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" class="btn btn-default">Absenden</button>
					</div>

block scripts
		script(src='/js/entries/new.js') 
