extends ../layout

block jumbotron
	div.jumbotron
		div.container
			- if (modifyExisting)
				h1 Eintrag bearbeiten
			- else
				h1 Neuer Eintrag
			- endif

block content
	div.row
		div.col-lg-12
			- if (errors != undefined && errors.length > 0) 
				div.alert.alert-danger(style="") 
					strong Oops!
					span.
						Irgendetwas passt noch nicht ganz!
						Schau dir deine Eingabe
						nochmal in Ruhe an.

					p
						ul
							each error in errors
								li.
									#{error}
			- else
				p.
					Einfach und unkompliziert ohne
					Registrierung einen neuen Eintrag
					hinzuf&uuml;gen.
			- endif

				p &nbsp;

			form(role="form",method="POST",action="#").form-horizontal#new
				- if (modifyExisting)
					input(type="hidden",name="_id",value="#{values._id}")
					input(type="hidden",name="_rev",value="#{values._rev}")
				- endif

				div(class="form-group #{error_fields.name}").
					<label for="name" class="col-lg-2 control-label">
						Anbieter<br/>
						<small>(max. 100 Zeichen)</small>
					</label>
					<div class="col-lg-10">
						<input type="text" maxlength="100" value="#{values.name}" name="name" class="form-control" id="name" placeholder="">
						<p class="help-block"></p>
					</div>

				div(class="form-group #{error_fields.categories}")
					label.col-lg-2.control-label(for="categories") Kategorie
					each category in categories
						div.col-lg-2
							- if (values["category_" + category.key] === true)
								input(name="category_#{category.key}", type="checkbox", checked="checked") 
							- else
								input(name="category_#{category.key}", type="checkbox") 
							- endif
							span.
								&nbsp; #{category.value}

				div(class="form-group #{error_fields.subcategories}")#productsubs 
					label.col-lg-2.control-label(for="subcategories") Produkt-Unterkategorien
					div.col-lg-8
						each subcategory in subcategories["products"]
							div.col-lg-12.selectAll
								div.col-lg-3
									strong #{subcategory.title}
									br
									a(href="#") alle ausw&auml;hlen

								div.col-lg-9(id="subcategory_group_#{subcategory.key}")
									each sub in subcategory.list
										div.col-lg-6
											- if (values["subcategory_" + sub.key] === true)
												input(name="subcategory_#{sub.key}", type="checkbox", checked="checked") 
											- else
												input(name="subcategory_#{sub.key}", type="checkbox") 
											- endif
											span.
												&nbsp; #{sub.value}
							div.col-lg-12(style="clear:both").
								&nbsp;


				div(class="form-group #{error_fields.subcategories}")#servicesubs 
					label.col-lg-2.control-label(for="subcategories") Dienstleistungs-Unterkategorien
					div.col-lg-8
						each subcategory in subcategories["services"]
							div.col-lg-12
								div.col-lg-3
									strong #{subcategory.title}
								div.col-lg-9(id="subcategory_group_#{subcategory.key}")
									each sub in subcategory.list
										div.col-lg-6
											- if (values["subcategory_" + sub.key] === true)
												input(name="subcategory_#{sub.key}", type="checkbox", checked="checked") 
											- else
												input(name="subcategory_#{sub.key}", type="checkbox") 
											- endif
											span.
												&nbsp; #{sub.value}
							div.col-lg-12(style="clear:both").
								&nbsp;

				div(class="form-group #{error_fields.classifications}")
					div.row
					label.col-lg-2.control-label(for="classifications") Einordnung

					div.col-lg-5
						- if (values["fair"] === true)
							input(name="fair", type="checkbox", checked="checked")
						- else
							input(name="fair", type="checkbox")
						- endif
							span.
								&nbsp; &uuml;berwiegend fair


						a(href="#",data-toggle="popover").btn.btn-large.btn-default.pull-right#popfair.
							Info

					div.col-lg-5
						- if (values["bio"] === true)
							input(name="bio", type="checkbox", checked="checked")
						- else
							input(name="bio", type="checkbox")
						- endif
							span.
								&nbsp; überwiegend biologisch

						a(href="#",data-toggle="popover").btn.btn-large.btn-default.pull-right#popbio.
							Info

				div.row
					label.col-lg-2.control-label(for="") &nbsp;
					div.col-lg-5
						- if (values["regional"] === true)
							input(name="regional", type="checkbox", checked="checked")
						- else
							input(name="regional", type="checkbox").
						- endif
							span.
								&nbsp; überwiegend regional

						a(href="#",data-toggle="popover").btn.btn-large.btn-default.pull-right#popregional.
							Info

					div.col-lg-5
						- if (values["used"] === true)
							input(name="used", type="checkbox", checked="checked")
						- else
							input(name="used", type="checkbox").
						- endif
							span.
								&nbsp; überwiegend gebraucht

						a(href="#",data-toggle="popover").btn.btn-large.btn-default.pull-right#popused.
							Info

				div.row
					&nbsp;

				div(class="form-group #{error_fields.online_local}")
					label.col-lg-2.control-label(for="online_local") Art des Angebots
					div.col-lg-2
						- if (values["online"] === true)
							input(type="checkbox",name="online",checked="checked") 
							span.
								&nbsp; Online-Angebot
						- else
							input(type="checkbox",name="online") 
							span.
								&nbsp; Online-Angebot
						- endif
					div.col-lg-2
						- if (values["local"] === true)
							input(type="checkbox",name="local",checked="checked") 
							span.
								&nbsp; Lokales Angebot
						- else
							input(type="checkbox",name="local") 
							span.
								&nbsp; Lokales Angebot
						- endif

				- if (values["local"] === false || values["local"] == undefined)
					div(class="form-group #{error_fields.street} address",style="display:none")#street
						label.col-lg-2.control-label(for="street") Stra&szlig;e
						div.col-lg-10
							input.form-control(type="text", name="street", id="street",value="#{values.street}")
					div(class="form-group #{error_fields.zipcode} address")#zipcode
						label.col-lg-2.control-label(for="zipcode") PLZ
						div.col-lg-10
							input.form-control(type="text", name="zipcode", id="zipcode",value="#{values.zipcode}")
					div(class="form-group #{error_fields.city} address")#city
						label.col-lg-2.control-label(for="city") Stadt
						div.col-lg-10
							input.form-control(type="text", name="city", id="city",value="#{values.city}")
				- else 
					div(class="form-group #{error_fields.street} address")#street
						label.col-lg-2.control-label(for="street") Stra&szlig;e
						div.col-lg-10
							input.form-control(type="text", name="street", id="street",value="#{values.street}")
					div(class="form-group #{error_fields.zipcode} address")#zipcode
						label.col-lg-2.control-label(for="zipcode") PLZ
						div.col-lg-10
							input.form-control(type="text", name="zipcode", id="zipcode",value="#{values.zipcode}")
					div(class="form-group #{error_fields.city} address")#city
						label.col-lg-2.control-label(for="city") Stadt
						div.col-lg-10
							input.form-control(type="text", name="city", id="city",value="#{values.city}")
				- endif

				div(class="form-group #{error_fields.uri}")
					label.col-lg-2.control-label(for="uri") Internet-Adresse
					div.col-lg-10
						input.form-control(type="text", name="uri", maxlength="300", id="uri",value="#{values.uri}")

				div(class="form-group #{error_fields.description}")
					label.col-lg-2.control-label(for="description").
						Beschreibung<br/>
						<small>(max. 500 Zeichen)</small>
					div.col-lg-10
						textarea.form-control(id="description", name="description",rows="7", maxlength="500") #{values.description}

				div(class="form-group")
					label.col-lg-2.control-label(for="agb") &nbsp;
					div.col-lg-10
						div.alert.alert-warning
							h4 Einverstanden?

							img(src="/img/biene.png",align="right",width="150",style="margin:10px 0px 10px 10px;")

							p.
								Mit dem Speichern dieser Seite
								versicherst du, dass du den Beitrag
								selbst verfasst hast bzw. dass er
								keine fremden Rechte verletzt, und
								willigst ein, ihn unter der
								<a href="http://creativecommons.org/publicdomain/zero/1.0/deed.de">
								Creative Commons CC0 Lizenz</a>
								zu veröffentlichen.
							p.
								Falls du den Text nicht selbst
								verfasst hast, muss er unter den
								Nutzungsbedingungen verfügbar sein
								und du stimmst zu, notwendigen
								Lizenzanforderungen zu folgen. 

							p.
								Wenn du nicht möchtest, dass dein Text
								weiterbearbeitet und weiterverbreitet wird, 
								dann speichere ihn nicht.

							p.text-center.
								<em>Das Kopieren urheberrechtlich
								geschützter Werke ist verboten!</em>

				div(class="form-group #{error_fields.agb}")
					label.col-lg-2.control-label(for="agb") &nbsp;
					div.col-lg-10
						- if (values["agb"] === true)
							input(id="agb", name="agb", type="checkbox", checked="checked") 
						- else
							input(id="agb", name="agb", type="checkbox") 
						-endif

						span.
							&nbsp; Nach meiner Kenntniss entpsricht dieser Eintrag der <a target="_blank" href='/idee'>Idee</a> von findsgut.

				div.form-group
					label.col-lg-2.control-label(for="agb") &nbsp;
					div.col-lg-10.
						<button style="width:100%" type="submit" class="btn btn-default">
							Ab in den Bienenstock!
						</button>

block scripts
		script(src='/js/entries/new.js') 
		script(src='/js/entries/classifications.js') 
