extends ../layout

block jumbotron
	div.jumbotron
		div.container
			h1 St&ouml;bern

block content
	div.row
		div.col-lg-6
			div.row
				div.col-lg-12
					label.col-lg-12.control-label(for="subcategories") 
						h3
							a(href="/kategorie/product") Produkte (#{count_categories["product"]})

			div.row
				div.col-lg-11.col-lg-offset-1
					each subcategory in subcategories["products"]
						div.row
							div.col-lg-12
								//a(href="/kategorie/#{subcategory.key}") #{subcategory.title}
								h4 #{subcategory.title}

						div.row
							div.col-lg-11(id="subcategory_group_#{subcategory.key}").col-lg-offset-1
								each sub in subcategory.list
									div.col-lg-6
										a(href="/kategorie/#{sub.key}") #{sub.value} (#{count_subcategories[sub.key]})

						div.col-lg-12(style="clear:both").
							&nbsp;


		div.col-lg-6
			div.row
				div.col-lg-12
					label.col-lg-12.control-label(for="subcategories") 
						h3
							a(href="/kategorie/service") Dienstleistungen (#{count_categories["service"]})

			div.row
				div.col-lg-12
					each subcategory in subcategories["services"]
						div.row
							div.col-lg-12
								h4 &nbsp;
						div.row
							div.col-lg-11(id="subcategory_group_#{subcategory.key}").col-lg-offset-1
								each sub in subcategory.list
									div.col-lg-6
										a(href="/kategorie/#{sub.key}") #{sub.value}
											#{sub.value} (#{count_subcategories[sub.key]})
						div.col-lg-12(style="clear:both").
							&nbsp;


block scripts
		script(src='/js/entries/new.js') 
		script(src='/js/entries/classifications.js') 
